@media screen and (max-width: 767px) {
    .header {
        display: flex;
    }
    .logo_img{
        width: 140px;
    }
    .menu{
        display: none;
    }
    .menu li a{
        font-size: 10px;
    }
    .menu_line{
        display: flex;
        margin-bottom: 18px;
    }
    .banner_content {
        width: 80%;
    }
    .banner_content h2 {
        font-size: 50px;
    }
    .banner_content p {
        width: 84%;
    }
    .banner_link{
        width: 70%;
        display: inline-block;
        margin: 0 auto;
    }
    .learn{
        margin: 0 0 10px;
    }
    .learn.active a {
        padding: 10px 18px 12px;
    }
    #about {
        padding: 74px 0 0 0;
    }
    .about_inner {
        margin: 0 auto 90px;
    }
    .about_bottom {
        flex-direction: column;
    }
    .about_top{
        width: 72%;
    }
    .about_line{
        width: 70%;
        margin: 0 auto 20px;
    }
    .about_line.middle, .about_line.right {
        margin-left: auto;
        padding: 0 0 0 0;
    }
    .box_inner {
        margin: 0 0 30px 66px;
    }
    .line_inner, .middle .line_inner, .right .line_inner {
        width: 220px;
        margin: 0 auto;
    }
    .line_inner::before {
        width: 140px;
    }
    .line_inner::after {
        right: 72px;
    }
    .about_line p {
        margin: 4px 0 0 102px;
    }
    .middle .line_inner::before {
        width: 178px;
    }
    .middle .line_inner::after {
        right: 38px;
    }
    .about_line.middle .box_inner {
        margin: 0 0 30px 133px;
    }
    .right .line_inner::before {
        width: 182px;
    }
    .right .line_inner::after {
        right: 30px;
    }
    .about_line.right .box_inner {
        margin: 0 0 30px 151px;
    }
    .bullets {
        width: 20%;
    }
    .services_inner p, .team_inner p {
        width: 88%;
        line-height: 25px;
        margin: 0 auto 50px;
    }
    .service_sec {
        display: inline-block;
    }
    .service_content, .service_content2, .service_content3 {
        width: 54%;
    }
    .service_content p, .service_content2 p, .service_content3 p {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
    }
    .news_inner {
        width: 90%;
    }
    .news_link {
        width: 20%;
    }
    .news_link a {
        padding: 10px 14px;
    }
    .news_content {
        display: flex;
        flex-direction: column;
    }
    .news_details {
        width: 50%;
        margin: 0 auto 30px;
    }
    .news_details.left {
        margin: auto auto 30px auto;
    }
    .news_para {
        width: 100%;
    }
    .news_img {
        width: 456px;
    }
    .news_details.right {
        margin-right: auto;
    }
    .news_para h4 {
        font-size: 22px;
        line-height: 32px;
    }
    .news_para p {
        font-size: 12px;
        line-height: 22px;
    }
    .overview_count h4 {
        font-size: 50px;
    }
    .overview_count p {
        font-size: 14px;
    }
}